.Header {
  background-color: #33006f;
  width: 100%;
  height: 15vh;
  flex-shrink: 0;
}

.Header .col-md-5 {
  margin-left: 10px;
}

.Header h1 {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  margin: 0;
  text-align: left;
}

.Header .nav {
  margin-right: 20px;
}

.Header .nav-item {
  display: inline-block;
}

.Header .nav-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.Header .nav-link:hover {
  text-decoration: underline;
}

.Header .dropdown-menu {
  position: absolute;
  right: 0;
  left: auto;
  background-color: #33006f;
  border: none;
  display: none;
}

.Header .dropdown-menu.show {
  display: block;
}

.Header .dropdown-toggle {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1rem;
}

.Header .dropdown-item {
  font-size: 1rem;
  text-decoration: none;
}

@media (max-width: 767px) {
  .Header {
    height: 12vh;
  }
  .Header h1 {
    font-size: 1.5rem;
  }
  .Header .col-md-5 {
    flex: 1;
  }
}
