.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  flex-shrink: 0;
  width: 100%;
}

.footer .container {
  text-align: center;
}

.footer .text-muted {
  color: #6c757d;
}
